h1 No.1 &mdash; #{ date } <small>at #{ location }</small> 
!= partial("../_partials/map")

h2 Speakers

hr
.row.speaker
  .col-lg-3
    p: img(src="/img/speakers/roman-rudenko.png")
    ul.list-inline
      li: a(href="http://www.mobify.com/blog/author/roman/") Blog
      li: a(href="https://github.com/romanrudenko") Github
  .col-lg-9
    h3 Techniques for creating scalable icons <small>by Roman Rudenko</small>

    p Handling scalable icons so they display properly in devices with different pixel density. Two different approaches will be illustrated:

    ol
      li Creating scalable custom fonts
      li Sprited <code>background-image</code> and <code>background-size</code> to bring in resolution-independent icons.

    p Roman works at <a href="http://mobify.com">Mobify</a> as a CSS mad scientist, he mastered the guts of styling elements and uses it to his advantage to conquer the world.

hr

.row.speaker
  .col-lg-3
    p: img(src="/img/speakers/ryan-frederick.png")
    ul.list-inline
      li: a(href="http://ryanfrederick.com/") Website
      li: a(href="https://twitter.com/ry5n") Twitter
      li: a(href="https://github.com/ry5n") Github
  .col-lg-9
    h3 Modular CSS and the Rise of the Ugly Selector <small>by Ryan Frederick</small>

    p Walk through some common CSS architectural pitfalls, using them as a lens through which to understand the challenges of writing good CSS in 2013.

    p We&rsquo;ll look at several of the ideas in <strong>SMACSS and OOCSS</strong>, including separation of concerns, the role of semantics, and some &ldquo;ugly&rdquo; class naming conventions.

    p Ryan is a designer and front-end developer specialized in UX design and HTML/CSS architecture. Currently working on the redesign and CSS for <a href="https://drupal.org/">Drupal</a>&rsquo;s admin section.

hr

h2 Should I come to this Meetup?
p You should come if:
ul
  li You&rsquo;ve worked with CSS before and you&rsquo;re familiar with it
  li You haven&rsquo;t had a chance to catch up on the latest techniques for working with CSS
  li You need an update on browser support for CSS rules
  li You want to learn some interesting techniques for solving common styling problems

p You should NOT come if:
ul
  li You&rsquo;ve never worked with CSS or are extremely new to it
  li You know absolutely EVERYTHING that there&rsquo;s to know about CSS
  li You watch Jersey Shore or Vancouver House Wives