h1 No.2 &mdash; #{ date } <small>at #{ location }</small> 
!= partial("../_partials/map")

h2 Speakers

hr
.row.speaker
  .col-lg-3
    p: img(src="/img/speakers/brian-leroux.jpg")
    ul.list-inline
      li: a(href="http://brian.io") Web
      li: a(href="https://twitter.com/brianleroux") Twitter
      li: a(href="https://github.com/brianleroux") Github
  .col-lg-9
    h3 Topcoat: CSS for clean and fast web apps <small>by Brian LeRoux</small>

    p <a href="http://topcoat.io">Topcoat</a> is a brand new open source CSS library designed to help developers build web apps with an emphasis on speed.

    p Performance is their #1 goal. Every component is benchmarked for performance and they even show you <a href="http://bench.topcoat.io/">the results.</a>

    p Brian is a Product Manager at Adobe and SPACELORD!1!!

hr

.row.speaker
  .col-lg-3
    p: img(src="/img/speakers/birdseye.png")
    ul.list-inline
      li: a(href="https://twitter.com/birdseye_sw") Twitter
      li: a(href="https://github.com/BirdseyeSoftware/") Github
  .col-lg-9
    h3 Product Demo: maestro.io <small>by Roman Gonzalez</small>

    p Roman will show us a quick demo of <a href="http://maestro.io">maestro.io</a>, a tool that provides developers with immediate, continuous feedback about the code they are currently working on.

    p It also allows you to broadcast CSS edits to multiple browsers &amp; devices so you can see the effect of your edits as you type.

    p Roman works at Birdseye Software where they offer software consultancy services in Clojure, Python, R, Ruby, and on development tooling/automation.

hr

.row.speaker
  .col-lg-3
    p: img(src="/img/speakers/jorge-pedret.jpg")
    ul.list-inline
      li: a(href="http://jorgepedret.com/") Website
      li: a(href="https://twitter.com/jorgepedret") Twitter
      li: a(href="https://github.com/jorgepedret") Github
  .col-lg-9
    h3 CSS Element Queries <small>by Jorge Pedret</small>

    p This talk will look at how element queries will change the way we create components, techniques that we can use today and lastly show you how they fit in the big picture of web components.

    p Jorge is a font-end engineer working at <a href="http://chloi.io">Chloi</a>. He spends most of his time writing JavaScript and CSS for complex client side applications.

hr

h2 Should I come to this Meetup?
p You should come if:
ul
  li You want to know more about CSS frameworks
  li You care about performance in the browser
  li You want to learn more about Topcoat
  li You care about the future of web development