h1 No.3 &mdash; #{ date } <small>at #{ location }</small> 
!= partial("../_partials/map")

h2 Speakers

hr
.row.speaker
  .col-lg-3
    p: img(src="/img/speakers/kenneth-ormandy.jpg")
    ul.list-inline
      li: a(href="http://kennethormandy.com/") Web
      li: a(href="https://twitter.com/kennethormandy") Twitter
      li: a(href="https://github.com/kennethormandy") Github
  .col-lg-9
    h3 Designers Hate Whitespace <small>by Kenneth Ormandy</small>

    p Designers hate whitespace. As least, that’s what Kenneth had to conclude. Preprocessors allow us to write a more thoughtful version of our CSS, yet we rarely use ones with a whitespace sensitive syntax. This talk explores the theory designers hold dear, and the CSS preprocessors they don’t: <a href="http://learnboost.github.io/stylus/" target="_blank">Stylus</a>, <a href="http://sass-lang.com/" target="_blank">Sass</a>, and <a href="https://github.com/visionmedia/rework" target="_blank">Rework</a>.

    p Kenneth is a designer at <a href="http://chloi.io/">Chloi Inc.</a> where he helps build delightful experiences for the <a href="https://harp.io">Harp Platform</a> and for <a href="http://harpjs.com">Harp</a>, the static web server with built-in preprocessing.

hr

.row.speaker
  .col-lg-3
    p: img(src="/img/speakers/chris-nicola.jpg")
    ul.list-inline
      li: a(href="http://lucisferre.net/") Web
      li: a(href="https://twitter.com/chrismnicola") Twitter
  .col-lg-9
    h3 Choosing a CSS Framework <small>by Chris Nicola</small>

    p Chris took a deep look at the best CSS frameworks when he had to choose one for <a href="http://www.wealthbar.com/">WealthBar</a>. Luckly, he documented the whole process and the pros/cons of each one of them.

    p In his presentation, Chris will explain the process that he went through to choose between Bootstrap 3, Foundation 4 and Bourbon Neat.

    p Chris is co-founder and CTO of <a href="https://twitter.com/wealthbar" target="_blank">@wealthbar</a> a revolutionary online investing service that blends investing with personal financial advice with fully-managed portfolios. He also founded and organizes <a href="https://twitter.com/polyglotconf" target="_blank">@polyglotconf</a>.

hr

h2 Should I come to this Meetup?
p You should come if:
ul
  li You want to improve your CSS workflow
  li You're interested in CSS pre-processors
  li You want to know the difference between the most popular CSS pre-processors
  li You want to learn more about <a href="https://github.com/visionmedia/rework" target="_blank">Rework</a>
  li You want to speed up your CSS productivity
  li You want to know more about CSS frameworks
  li You want to know how to choose a CSS framework

hr

h2 Our Amazing Sponsors

p This meetup wouldn&rsquo;t be possible without our amazing sponsors:

.row.sponsor
  .col-lg-2
    p: a(href="https://mobify.com"): img.sponsor-logo(src="/img/sponsors/mobify.png")
  .col-lg-10
    p
      | Thanks to Mobify for sponsoring the venue!
      br
      span.text-muted Mobify is the fastest, most powerful way to launch mobile websites that drive exceptional business results. Also, checkout <a href="http://www.mobify.com/mobifyjs/">Mobify.js</a>, an open source library for improving responsive sites by providing responsive images, JS/CSS optimization, Adaptive Templating and more.
.row.sponsor
  .col-lg-2
    p: a(href="https://harp.io"): img.sponsor-logo(src="/img/sponsors/harp.png")
  .col-lg-10
    p
      | Thanks to Harp for sponsoring the beer!
      br
      span.text-muted The Harp Platform is a one-click-publishing platform powered by the Harp Server and Dropbox that delivers the best development and publishing experience. Also, checkout <a href="">Harp Web Server</a> the static web server which serves Jade, Markdown, EJS, CoffeeScript, LESS and Stylus as HTML, CSS &amp; JavaScript—no configuration necessary. It makes front-end development a treat.