style
  .reveal section img {
    border: none;
    box-shadow: none;
  }
section
  h1 hello

section
  h2 css brigade
  ul
    li Talk about CSS
    li Community
    li Beers

section
  h2 We need Speakers!
  ul
    li Responsive/Adaptive Design
    li CSS Layout
    li SMACSS, OOCSS and BEM
    li CSS Frameworks
    li Anything related to CSS...

section
  section
    h2 Sponsors
  section
    img(src="img/harp.png")
  section
    img(src="img/hootsuite.png")

section
  h2 Tonight Speakers
  ul
    li Ryan Frederick
    li Roman Rudenko