section
  h1 welcome

section
  h2 css brigade
  ul
    li Talk about CSS
    li Get to know each other
    li Beers

section
  h2 We need Speakers!
  ul
    li Responsive/Adaptive Design
    li CSS/JS Animations
    li CSS Layouts (Flexbox, Grids, etc.)
    li CSS Frameworks
    li CSS Pre-processors
    li Anything related to CSS&hellip;

section
  h2 Sponsors
section
  img(src="/img/sponsors/mobify.png")
  p Thanks for sponsoring this awesome venue!
section
  img(src="/img/sponsors/harp.png")
  p Thanks for sponsoring the beers!
section
  img(src="/img/sponsors/chloi.png")
  p Thanks for sponsoring my time!

section
  h2 co-organizers &amp; friends
  ul
    li Ryan Frederick
    li Brock Whitten
    li Rob Ellis
    li Dave Shea

section
  h2 Tonight Speakers

section
  h2 Kenneth Ormandy
  p Designers Hate Whitespace
  br
  ul
    li Talented Designer at Chloi
    li Well versed in web tech

section
  h2 Chris Nicola
  p Choosing a CSS Framework
  br
  ul
    li Leader, developer &amp; entrepreneur
    li Organizes Polyglot Conference
    li Always on cutting edge tech

section
  h2 Enjoy it!