h1 Call for speakers

p We are inviting the CSS community to submit proposals for future CSS Brigade meetups.

p If you think you have something great to talk about, or know someone who does, we&rsquo;d love to have you present it at one of our next meetups.

p We believe that everybody is talented and everbody has something to learn, so don't shy away from sending your idea, you don't have to know everything CSS to teach us something.

p If you need more encouragement, check out Tiffany Conroy&rsquo;s site <a href="http://weareallaweso.me/">We Are All Awesome</a>. Tiffany is a JSConf EU co-organizer, and her site is full of great advice.

h2 Topics

p If you need some suggestions to get your ideas flowing, we are particularly interested in:

ul
  li Improving CSS developers&rsquo; lives
  li Pre-processors
  li Tools &amp; Workflow
  li Mobile CSS
  li Cutting-edge technological advances in the world of CSS or computer science in general, if somehow applicable to CSS
  li Crazy Ideas &amp; Crazy Hacks
  li CSS in a hostile environment
  li Crazy drawing with CSS
  li CSS for Games
  li Scale &amp; Performance
  li The history and future of CSS
  li Anything related to CSS; This is your meetup.

h2 Guidelines

p We understand that everybody is different and everybody has different workflows. These are the <strong>non-mandatory</strong> guidelines:

ul
  li Try to limit your talk to 30 minutes
  li Have your slides available online

h2 Submit your talk

p Email us at: #{ speaker_submission_email }

hr
  
p.text-muted I really liked <a href="http://2013.cssconf.eu/call-for-speakers/">CSSConfEU&rsquo;s Call for Speakers</a> page. If you notice any similarities, it&rsquo;s because I used their page as a reference.